<form>
    <div class="form-group row">
        <label for="categoryName" class="col-sm-2 col-form-label">Category Name</label>
        <div class="col-sm-10">
            <input type="text"  data-userid="{{this.id}}" class="form-control" name="newCategory" id="categoryName" placeholder="Category Name">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary categorySbtn">Save changes</button>
    </div>
</form>