<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-xl-2 bd-sidebar">
            <div class="d-flex align-items-center mt-5">
                <button class="btn btn-primary" type="button"><i class="fa fa-plus-circle"></i>Add Catagory</button>
            </div>

        </div>
        <div class="col-md-8" id="main" style="border-left: 1px solid lightgray;">
            <div class="row">
                <form class="mt-2">
                    <div class="input-group m-sm-2">
                        <span>Budget/Salary($) </span>
                        <input class="form-control ml-sm-2 mr-sm-3" type="number" placeholder="Budget" id="budget"
                            data-bind="value:budget">
                        <span>Other income($) </span>
                        <input class="form-control ml-sm-2 mr-sm-3" type="number" placeholder="other income"
                            id="othrIncome" data-bind="value:othrIncome">
                    </div>

                </form>
            </div>
            <div class="accordion" id="cardParent">
                <div class="card">
                    <div class="card-header" id="cH1">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#cardOne"
                                aria-expanded="true" aria-controls="cardOne">
                                Food
                            </button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#enteriesModal" type="button"><i class="fa fa-plus-circle"></i>Add
                                Item</button>
                        </h2>


                    </div>

                    <div class="collapse show" id="cardOne" aria-labelledby="cH1" data-parent="#cardParent">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Name</span>
                                </div>
                                <div class="col-sm-5">
                                    <textarea class="form-control" placeholder="Memo">

                            </textarea>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control form-control-sm" id="choice1">
                                        <option value="">Credit</option>
                                        <option value="1">Debit</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div>Amount $</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Name</span>
                                </div>
                                <div class="col-sm-5">
                                    <textarea class="form-control" placeholder="Memo">

                                </textarea>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control form-control-sm" id="choice1">
                                        <option value="">Credit</option>
                                        <option value="1">Debit</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div>Amount $</div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="cH2">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#cardTwo" aria-expanded="true" aria-controls="cardTwo">
                                Healthcare
                            </button>
                            <button class="btn btn-link" type="button"><i class="fa fa-plus-circle"></i>Add
                                Item</button>
                        </h2>

                    </div>

                    <div class="collapse" id="cardTwo" aria-labelledby="cH2" data-parent="#cardParent">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsa voluptate. Veniam
                                atque est optio nostrum distinctio modi, magni, quia tempore quod molestiae aspernatur
                                minus ipsam aliquid laboriosam vel unde!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{!-- Modal --}}
    <div class="modal fade" id="enteriesModal" tabindex="-1" role="dialog" aria-labelledby="enteriesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enteriesModalLabel">New Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{> modal }}
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>
</div>