
{{#each this.entries}}
    <div class="row">
        <div class="col-sm-2">
            <span>{{this.entry_name}}</span>
        </div>
        <div class="col-sm-5">
            <p class="form-control" placeholder="Memo">
                {{this.memo}}
            </p>
        </div>
        <div class="col-sm-2">
            <span>{{this.amountType}}</span>
        </div>
        <div class="col-sm-2">
            <div>${{this.amount}}</div>
        </div>
    </div>
    <hr>
{{/each}}