{{#each this}}
{{#if }}
{{this.entry_name}}

<div class="row">
    <div class="col-sm-2">
        <span>{{this.entry_name}}</span>
    </div>
    <div class="col-sm-5">
        <textarea class="form-control" placeholder="Memo">
                {{this.memo}}
            </textarea>
    </div>
    <div class="col-sm-2">
        <select class="form-control form-control-sm" id="choice1">
            <option value="">Credit</option>
            <option value="1">Debit</option>
        </select>
    </div>
    <div class="col-sm-2">
        <div>${{this.amount}}</div>
    </div>
</div>
<hr>
{{/each}}