<form>
    <label>Name: <input type="text" /></label>
    <label>Category:
        <select>
            <option>Help</option>
            <option>Help1</option>
            <option>Help12</option>
        </select>
    </label>
    <label>Amount: <input type="text" /></label>
    <label>Memo: <input type="text" /></label>




    <button type="button" class="apibtn">Submit</button>
</form>