<nav class="navbar navbar-expand-lg bg-info text-white">
        <img src="../../public/assets/images/levelup.png" alt="logo" width="70px" height="70px" class="img-thumbnail">
        <ul class= "navbar-nav ml-md-auto flex-row d-none d-md-flex">
            <a class="nav-link mr-sm-5 text-white" href="#">Home<span class="sr-only">(current)</span></a>
        </ul>
    </nav>

<div class="container_fluid">
  <div class="row">
    <div class = "col-sm-6" style = "margin-top: 150px; text-align:center">
      <h1>LevelUp Planner</h1>
      <img src="../../public/assets/images/levelup.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minima voluptate itaque ipsam rem minus impedit, unde, magnam, nesciunt obcaecati tempora animi aut quae mollitia aspernatur harum rerum excepturi nam.</p>

    </div>
    <div class="col-sm-6" style = "border-left: 1px solid lightgray; height:800px">
      
        <h4 style = "text-align: center; margin-top:50px">Get Start with login</h4>
        
          <form>
            <input type="text" name="username" placeholder="username" id="username">
            <input type="text" name="password" placeholder="password">
           
            <button class=" btn btn-info" id="loginId">Login</button>
            <button class="btn btn-info">Signup</button>
        
      </form>
    </div>
  </div>
</div>